<!doctype html>
<html>
  <head>
    <title>Ducksboard Travis by Divshot</title>
    <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
        background: #d5d8dd;
      }

      .content {
        max-width: 900px;
        margin: 30px auto;
        padding: 30px 40px 30px;
        background: rgba(255,255,255,0.5);
        -webkit-border-radius: 15px;
        border-radius: 15px;
      }

      .content h1:first-child {
        margin-top: 0;
      }
    </style>
  </head>
  <body><div class='content'>
    <%= yield %>
  </div></body>
</html>